Repository PyBotDevs/isobot, pull requests merged in 2022-07, with the labels that each got.

#85 Add GPL3.0 license notice upon client startup
  main.py
Labels: enhancement, priority:critical, area:main

#86 Add client info command
  main.py
Labels: enhancement, priority:low, area:main

#88 Add basic website implementation
  utils/ping.py
  web/index.html
  web/iso-render-bootstrap.css
  web/resources/github-dark.png
  web/resources/github-light.png
Labels: enhancement, priority:high, area:web

#89 Fix resources and bootstrap paths
  index.html
Labels: bug, priority:critical, area:web

#87 Group imports into single line
  main.py
Labels: debloat, area:main

#94 Create a gifting system
  main.py
Labels: enhancement, currency framework update, priority:low, area:main, size/S

#98 Move /gift `KeyError` exception code to multiple lines
  main.py
Labels: debloat, priority:ignored, area:main, size/XS

#100 Convert `client_id` number literal to string literal
  scripts/redirect.js
Labels: bug, priority:medium, area:web, size/XS

#97 Add `ms-python.python` and `ms-toolsai.jupyter` to recommended extensions
  .vscode/extensions.json
Labels: documentation, priority:high, area:maintenance, size/XS

#101 Move currency balance management commands to separate class
  main.py
Labels: enhancement, currency framework update, priority:low, area:main, size/M

#96 Add redirect link in `/status` command to latest Github repo release notes
  main.py
Labels: enhancement, priority:ignored, area:main, size/XS

#102 Add dependencies list
  poetry.lock
Labels: documentation, priority:high, area:maintenance, size/XL

#103 Add basic implementation of NKA Framework
  .gitignore
  framework/e
  framework/isobot/colors.py
  framework/isobot/currency.py
  framework/logger.py
  main.py
Labels: enhancement, currency framework update, priority:high, area:libraries, area:main, size/L

#105 Explicitly define `main.py` as vscode debug target
  .vscode/launch.json
Labels: priority:high, area:maintenance, size/XS

#106 Explicitly define all bare exception as `Exception`
  main.py
Labels: priority:low, area:main, size/XS, type:code quality

#107 Add AFK commands
  database/presence.json
  main.py
Labels: enhancement, priority:medium, area:main, size/M

#108 Fix message context issue in `on_message` event and add AFK remove timed autodelete
  main.py
Labels: bug, priority:high, area:main, size/XS

#109 Add AFK status to `/whoami` command
  main.py
Labels: enhancement, priority:medium, area:main, size/XS

#111 Remove unnecessary newlines and tabs from db listener
  main.py
Labels: debloat, priority:ignored, area:main, size/M, type:code quality

#110 Sort library imports
  main.py
Labels: priority:ignored, area:libraries, size/XS, type:code quality

#112 Fix a typo in gitignore
  .gitignore
Labels: bug, priority:critical, area:maintenance, size/XS

#113 Use `Colors()` class from framework
  main.py
Labels: enhancement, priority:medium, area:main, size/XS, type:code quality

#114 Trigger AFK Alert on AFK user mention
  main.py
Labels: enhancement, priority:high, area:main, size/XS
