Repository PyBotDevs/isobot, pull requests merged in 2022-08, with the labels that each got.

#115 Add whitespace support to `/stroketranslate`
  config/words.json
Labels: bug, enhancement, priority:high, area:main, size/XS

#77 Debloat source code
  code_tips.txt
  config/shop.json
  main.py
Labels: debloat, priority:medium, area:main, size/XL

#116 Update the bot status
  main.py
Labels: priority:ignored, area:main, size/XS

#117 Fix license disclaimer output
  main.py
Labels: documentation, priority:ignored, area:main, size/S

#118 Fix logic error in `/inventory`
  main.py
Labels: bug, priority:high, area:main, size/XS

#120 Fix item database parser
  main.py
Labels: bug, type:currency framework, priority:critical, area:storage, size/XS

#121 Add Idea debug configuration
  .idea/.gitignore
  .idea/discord.xml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/isobot-lazer.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/runConfigurations/Python_Runtime_Environment.xml
  .idea/vcs.xml
Labels: documentation, priority:low, area:maintenance, size/M

#123 Add leveling system
  database/levels.json
  main.py
Labels: enhancement, priority:medium, area:main, size/M

#124 Add `/autogrind` command
  main.py
Labels: enhancement, type:currency framework, priority:critical, area:main, size/S

#125 Fix some typos in `/edit_rank` and `/edit_xp` commands
  main.py
Labels: bug, priority:critical, area:main, size/XS

#126 Replace redefined method in `/edit_xp` command
  main.py
Labels: bug, priority:high, area:main, size/XS

#127 Fix undefined method `randint()` when called
  main.py
Labels: bug, priority:medium, area:main, size/XS

#128 Fix messed up method definitions for `/edit_rank` and `/edit_xp`
  main.py
Labels: bug, priority:medium, area:main, size/XS

#131 fstring `/rank` display embed's title
  main.py
Labels: bug, priority:low, area:main, size/XS, type:leveling system

#130 Fix null context redirect in `/rank` command
  main.py
Labels: bug, priority:high, area:main, size/XS, type:leveling system

#129 Patch level-up event output
  main.py
Labels: bug, priority:medium, area:main, size/XS, type:leveling system

#132 Trigger send embed in user DMs on autogrind completion
  main.py
Labels: bug, priority:high, area:main, size/XS

#133 Send embed output when `/rank` command is run
  main.py
Labels: bug, priority:high, area:main, size/XS, type:leveling system

#134 Add 1 hour cooldown for autogrind command
  main.py
Labels: enhancement, priority:high, area:main, size/XS, type:leveling system

#135 Add basic implementation of IsoBank authorization
  database/isobank/accounts.json
  database/isobank/auth.json
  framework/isobank/authorize.py
  main.py
Labels: enhancement, type:currency framework, priority:low, area:libraries, area:main, size/M

#136 Add basic implementation of IsoBank accounts
  framework/isobank/authorize.py
  framework/isobank/manager.py
  main.py
Labels: enhancement, type:currency framework, priority:low, area:libraries, area:main, size/M

#137 Fix autogrind command not giving completion rewards due to a list type error
  main.py
Labels: bug, type:currency framework, priority:high, area:main, size/XS

#138 Move level-up messages to user's DMs instead of appearing in chat
  main.py
Labels: priority:low, area:main, size/XS, type:leveling system

#139 Return stylized name class instead of raw key when autogrind completes
  main.py
Labels: bug, type:currency framework, priority:low, area:main, size/XS

#140 Patch bot's error handler
  main.py
Labels: bug, duplicate, priority:ignored, area:main, size/S, type:code quality

#141 Add GitHub repository link command as `/repo`
  main.py
Labels: enhancement, priority:low, area:main, size/XS

#142 Send embed on `/repo` command invokation
  main.py
Labels: bug, priority:high, area:main, size/XS

#143 Fix embed link markdown formatting error in `/repo` command
  main.py
Labels: bug, priority:low, area:main, size/XS

#145 Add Discord Slash command documentation
  slash_commands.md
Labels: documentation, priority:high, area:libraries, size/M

#146 Debloat command plugin configuration checks
  main.py
Labels: bug, debloat, priority:medium, area:main, area:maintenance, size/S, type:code quality

#144 Release IsoBank registration to all users
  framework/isobank/authorize.py
  main.py
Labels: enhancement, type:currency framework, priority:high, area:main, size/S

#147 Add `/embedbuilder` command
  framework/isobot/embedengine.py
  main.py
Labels: enhancement, priority:medium, area:libraries, area:main, size/M

#148 Add Isobot minigame ideas for development
  .dev/MINIGAMES_IDEAS.md
Labels: documentation, type:currency framework, priority:high, size/S

#150 Add new "Guess the Number" minigame to the economy system
  main.py
Labels: enhancement, type:currency framework, priority:high, area:main, size/S

#153 Remove redundant comments
  main.py
Labels: debloat, size/S, type:code quality

#154 Set "max" and "all" as keywords for max amount in `/deposit` and `/withdraw` commands
  main.py
Labels: enhancement, type:currency framework, area:main, size/S

#156 Fix `/guessthenumber` check message event by dropping `message` class
  main.py
Labels: type:currency framework, priority:high, area:main, size/XS, type:patch

#157 Create new `/highlow` minigame
  main.py
Labels: enhancement, type:currency framework, priority:high, area:main, size/M

#158 Remove redundant parentheses from classes in framework
  framework/isobot/colors.py
  framework/isobot/currency.py
Labels: priority:low, size/XS, type:code quality, area:framework

#159 Add missing keywords to `framework.isobot.currency`
  framework/isobot/currency.py
Labels: priority:medium, size/XS, type:patch, area:framework

#160 Assign `currency:dict` to loaded database
  framework/isobot/currency.py
Labels: priority:high, area:storage, size/XS, type:patch, area:framework

#161 Add more prominent invite link to readme
  README.md
Labels: documentation, priority:low, size/XS

#162 Fix AFK system returning an error if the message guild isn't already indexed in the `user_presence` database
  main.py
Labels: enhancement, priority:high, area:main, size/XS, type:code quality, type:patch

#163 Remove `@@everyone` role from being displayed on `/whoami` user profile
  main.py
Labels: enhancement, priority:high, area:main, size/XS, type:patch
