Repository PyBotDevs/isobot, pull requests merged in 2022-12, with the labels that each got.

#189 Fix coin reward showing positional argument error in `/dig` command
  main.py
Labels: type:currency framework, priority:high, area:main, size/XS, type:patch

#190 Add `/squareroot` maths command
  config/commands.json
  main.py
Labels: enhancement, priority:low, area:main, size/S

#191 Separate and move all math commands to a slash cog
  main.py
  maths.py
Labels: enhancement, priority:medium, area:libraries, area:main, size/M, type:code quality

#193 Fix typo in `radius` parameter in `/area_circle` command
  maths.py
Labels: priority:medium, area:main, size/XS, type:patch

#195 Add `/area_triangle` maths command
  config/commands.json
  maths.py
Labels: enhancement, priority:medium, area:main, size/S

#196 Move all moderation commands from main bot script to cog
  main.py
  moderation.py
Labels: enhancement, priority:medium, area:main, size/L, type:code quality

#197 Move all reddit media commands from main bot script to a cog
  main.py
  reddit.py
Labels: enhancement, priority:medium, area:main, size/L, type:code quality

#198 Exclude all `DevTools` commands from command help list embed
  main.py
Labels: enhancement, priority:high, area:main, size/XS, type:patch

#194 Debloat source code in main bot client and website
  api/auth.py
  framework/isobank/authorize.py
  framework/isobank/manager.py
  framework/isobot/currency.py
  framework/isobot/embedengine.py
  framework/logger.py
  index.html
  main.py
  maths.py
  utils/logger.py
  web/index.html
Labels: enhancement, debloat, priority:high, area:libraries, area:main, area:web, size/L, type:code quality, area:framework

#200 Add code for loading minigames cog in main bot client
  main.py
Labels: priority:high, area:main, size/XS, type:patch

#201 Use loops while loading cogs instead of using bare sequences
  main.py
Labels: enhancement, priority:low, area:main, size/S, type:code quality

#202 Fix reddit commands cog not loading due to a cog type derivation error
  reddit.py
Labels: priority:critical, area:main, size/XS, type:patch

#203 Send help command list embeds to user DMs instead of in server channel
  main.py
Labels: enhancement, priority:medium, area:main, size/XS

#204 Add missing `self` keywords in command function arguments in reddit cog
  reddit.py
Labels: priority:critical, size/S, type:patch, area:cogs

#205 Fix issue where help command does not send embed in user DMs and returns no response error
  main.py
Labels: enhancement, priority:high, area:main, size/XS, type:patch

#206 Add isobot in-game special New Years event
  database/special/new_years_2022.json
  main.py
Labels: enhancement, type:currency framework, priority:high, area:main, size/M

#207 Replace all `hidden=True` arguments with `ephemeral=True` in `respond()` functions
  main.py
Labels: enhancement, priority:critical, area:main, size/L, type:patch

#208 Fix issue where Presents daemon thread hangs the main bot client and commands
  main.py
Labels: enhancement, priority:critical, area:main, size/S, type:code quality, type:patch

#210 Move all automod commands from main bot script to a cog
  automod.py
  main.py
Labels: enhancement, priority:medium, area:main, size/L, type:code quality, area:cogs

#209 Fix issue in balance command embed where author's presents count is displayed even when viewing information on another user
  main.py
Labels: type:currency framework, priority:high, area:main, size/XS, type:patch

#211 Move all isobank commands from main bot script to a cog
  isobank.py
  main.py
Labels: enhancement, type:currency framework, priority:low, area:main, size/M, type:code quality, area:cogs

#212 Add `/event leaderboard` command for New Years special event
  main.py
Labels: enhancement, type:currency framework, priority:high, area:main, size/S

#213 Prevent database key initializer from resetting all guild warnings when making key for new user
  main.py
Labels: priority:medium, area:storage, size/XS, type:patch

#214 Add missing `self` keyword args in automod cog commands
  automod.py
Labels: priority:high, size/S, type:patch, area:cogs

#215 Fix cog initializer showing cog loaded success message after each cog load
  main.py
Labels: enhancement, priority:low, area:main, size/XS, type:patch, area:cogs

#216 Move levelling system commands from main bot script to cog
  levelling.py
  main.py
Labels: enhancement, priority:medium, area:main, size/L, type:code quality, area:cogs

#217 Add missing `self` keywords in commands in levelling cog
  levelling.py
Labels: priority:high, size/XS, type:patch, area:cogs

#218 Group AFK system commands to a separate slash commands category
  main.py
Labels: enhancement, priority:medium, area:main, size/S, type:code quality

#219 Move some big economy system commands from main bot script to cog
  economy.py
  main.py
Labels: enhancement, priority:high, area:main, size/XL, type:code quality, area:cogs

#220 Add database recaching in economy commands in cog
  economy.py
Labels: enhancement, type:currency framework, priority:critical, size/S, type:patch, area:cogs

#221 Fix wallet transaction-related bugs in `/hunt`
  economy.py
Labels: type:currency framework, priority:high, size/XS, type:patch, area:cogs

#222 Hide inventory items in inventory embed when command author does not own them
  main.py
Labels: enhancement, type:currency framework, priority:low, area:main, size/M

#223 Add more delay between present drops in New Years special in-game event
  main.py
Labels: enhancement, type:currency framework, priority:high, area:main, size/XS

#224 Add more economy system commands to economy cog
  economy.py
  main.py
Labels: enhancement, priority:high, area:main, size/XL, type:code quality, area:cogs

#225 Fix critical bugs and improve/optimize economy system
  economy.py
  main.py
Labels: enhancement, type:currency framework, priority:high, area:main, size/L, type:patch, area:cogs

#227 Remove unused library imports in main bot script
  main.py
Labels: debloat, priority:low, area:libraries, area:main, size/XS, type:code quality

#226 Remove discord_slash library
  discord_slash/__init__.py
  discord_slash/client.py
  discord_slash/cog_ext.py
  discord_slash/const.py
  discord_slash/context.py
  discord_slash/dpy_overrides.py
  discord_slash/error.py
  discord_slash/http.py
  discord_slash/model.py
  discord_slash/utils/__init__.py
  discord_slash/utils/manage_commands.py
  discord_slash/utils/manage_components.py
Labels: debloat, priority:medium, area:libraries, size/XXL

#228 Switch from discord.py based `avatar_url` user context property to Pycord based `avatar` user context property
  main.py
Labels: enhancement, priority:high, area:main, size/XS, type:patch

#229 Reject new present drops after hitting New Years timestamp
  main.py
Labels: enhancement, priority:critical, area:main, size/S

#230 Prevent bot from hanging due to infinite loop caused when checking timestamps
  main.py
Labels: priority:high, area:main, size/XS, type:patch
