Repository PyBotDevs/isobot, pull requests merged in 2023-01, with the labels that each got.

#231 Remove New Years special in-game event
  data_archive/new_years_2022.json
  data_archive/new_years_special_event_2022.py
  database/special/new_years_2022.json
  main.py
Labels: enhancement, type:currency framework, priority:high, area:main, size/XXL, type:code quality

#232 Move all slash command cogs to a separate path
  cogs/automod.py
  cogs/economy.py
  cogs/isobank.py
  cogs/levelling.py
  cogs/maths.py
  cogs/minigames.py
  cogs/moderation.py
  cogs/reddit.py
  main.py
Labels: enhancement, debloat, priority:medium, area:main, size/XS, type:code quality, area:cogs

#233 Move `/stroketranslate` to a new slash cog
  cogs/fun.py
  main.py
Labels: size/M

#234 Fix cog load, unload and reload commands not showing command output
  main.py
Labels: priority:low, area:main, size/S, type:patch, area:cogs

#235 Implement new cooldown system for slash commands with cooldowns
  cogs/economy.py
  cogs/minigames.py
  cogs/moderation.py
Labels: enhancement, type:currency framework, priority:high, size/M, type:code quality, type:patch, area:cogs

#236 Revert "Implement new cooldown system for slash commands with cooldowns"
  cogs/economy.py
  cogs/minigames.py
  cogs/moderation.py
Labels: type:currency framework, priority:high, size/M, type:patch, area:cogs

#237 Patch cooldown handler to support Pycord slash commands
  main.py
Labels: enhancement, priority:high, area:main, size/XS, type:code quality, type:patch

#238 Move all maths area commands to `SlashCommandGroup` in maths cog
  cogs/maths.py
  config/commands.json
Labels: documentation, enhancement, priority:medium, size/S, type:code quality, area:cogs

#239 Move special event commands to a separate cog file
  cogs/events.py
  main.py
Labels: enhancement, priority:medium, area:main, size/M, type:code quality, area:cogs
