Repository PyBotDevs/isobot, pull requests merged in 2023-10, with the labels that each got.

#309 Improve code quality
  cogs/utils.py
Labels: size/L

#310 Migrate weather db commands from weather cog to the framework
  cogs/weather.py
  framework/isobot/db/weather.py
Labels: size/M

#311 Fix a bug which returns `KeyError` when modifying user level
  framework/isobot/db/levelling.py
Labels: priority:critical, area:storage, size/XS, type:leveling system, type:patch, area:framework

#312 Add base implementation for items db framework module
  cogs/economy.py
  framework/isobot/db/items.py
  framework/isobot/shop.py
  main.py
Labels: enhancement, priority:high, area:storage, area:main, size/L, type:code quality, area:framework, area:cogs

#313 Migrate items db instances completely to framework module
  cogs/economy.py
  framework/isobot/db/items.py
Labels: enhancement, priority:high, area:libraries, area:storage, size/M, type:code quality, area:framework, area:cogs

#314 Migrate UserData system completely to a framework module
  cogs/economy.py
  framework/isobot/db/userdata.py
  main.py
Labels: enhancement, type:currency framework, area:libraries, area:storage, size/M, type:code quality, area:framework, area:cogs

#315 Migrate all automod db functions to a framework module
  cogs/automod.py
  framework/isobot/db/automod.py
  main.py
Labels: enhancement, priority:high, area:libraries, area:storage, area:main, size/L, type:code quality, area:framework, area:cogs, type:moderation system
