Repository PyBotDevs/isobot, pull requests merged in 2023-06, with the labels that each got.

#289 Release core implementation of the IsoCard system
  cogs/isocard.py
  database/isocard.json
  main.py
Labels: enhancement, type:currency framework, priority:high, area:main, size/L, area:cogs, type:isocard

#290 Add `/owoify` fun command
  cogs/fun.py
  config/commands.json
Labels: enhancement, priority:low, size/S, area:cogs, type:fun

#292 Remove `/sync` DevTools command
  config/commands.json
  main.py
Labels: debloat, priority:high, area:storage, area:main, size/S

#291 Improve source code quality
  main.py
Labels: priority:high, area:main, size/M, type:code quality

#296 Add custom image output resolution for `/generate_image` command
  cogs/utils.py
  config/commands.json
Labels: enhancement, priority:medium, size/S, area:cogs, type:utils

#297 Add command error details output for uncaught errors
  main.py
Labels: enhancement, priority:high, area:main, size/XS, type:code quality

#300 Debug some general errors
  cogs/economy.py
  cogs/isobank.py
  cogs/isocard.py
  cogs/minigames.py
Labels: area:main, size/XS, type:code quality, type:patch, area:cogs

#299 Remove all `Exception` type exceptions
  cogs/economy.py
  cogs/fun.py
  cogs/isocard.py
  cogs/moderation.py
  cogs/osu.py
Labels: debloat, priority:medium, area:main, size/L, type:code quality, area:cogs

#301 Simplify and shorten module import structures
  cogs/utils.py
  framework/isobot/colors.py
  framework/isobot/currency.py
  framework/isobot/embedengine.py
  main.py
Labels: debloat, area:libraries, area:main, size/M, type:code quality

#302 Remove all references of `wdir`
  cogs/automod.py
  cogs/economy.py
  cogs/isobank.py
  cogs/levelling.py
  cogs/minigames.py
  main.py
Labels: debloat, priority:high, area:libraries, area:main, size/M, type:code quality, area:cogs
