Repository PyBotDevs/isobot, pull requests merged in 2023-05, with the labels that each got.

#276 Add direct source module for `typing_extensions`
  oss-licenses/discord-py-slash-command_LICENSE
  oss-licenses/pycord_LICENSE
  oss-licenses/typing_extensions_LICENSE
  typing_extensions.py
Labels: size/XXL

#280 Port all osu! commands from old isobot to a cog
  cogs/osu.py
  oss-licenses/ossapi_LICENSE
  ossapi/__init__.py
  ossapi/encoder.py
  ossapi/enums.py
  ossapi/mod.py
  ossapi/models.py
  ossapi/ossapi.py
  ossapi/ossapiv2.py
  ossapi/replay.py
  ossapi/utils.py
  ossapi/version.py
Labels: enhancement, priority:medium, area:libraries, size/XXL, area:cogs

#281 Fix help command list embed not sending to message author's direct messages
  main.py
Labels: priority:high, area:main, size/XS, type:patch

#282 Add weather commands to a new cog
  cogs/weather.py
  config/commands.json
  database/weather.json
  main.py
Labels: enhancement, priority:high, area:main, size/L, area:cogs

#284 Add `/generate_image` command to let users generate images using DALL-E modal
  cogs/utils.py
  config/commands.json
Labels: enhancement, priority:medium, size/M, area:cogs

#286 Fix string opening and closing formatting and remove redundant fstrings
  cogs/economy.py
  cogs/minigames.py
  main.py
Labels: priority:low, size/L, type:code quality, area:cogs

#287 Disable IsoBank auth module from loading on startup
  main.py
Labels: priority:low, area:main, size/XS, type:code quality, area:framework

#288 Migrate old currency system to CurrencyAPI
  cogs/economy.py
  cogs/minigames.py
  cogs/utils.py
  framework/isobot/currency.py
  main.py
Labels: enhancement, type:currency framework, priority:high, area:libraries, area:storage, area:main, size/L, type:code quality, area:framework, area:cogs
