Repository PyBotDevs/isobot, pull requests merged in 2023-04, with the labels that each got.

#269 Add section for isobot features documentation
  README.md
Labels: size/S

#271 Fix bugs in `/leaderboard` command
  cogs/levelling.py
Labels: priority:high, size/M, type:leveling system, type:patch, area:cogs

#272 Remove Halloween 2022 theme from client initialization
  main.py
Labels: priority:low, area:main, size/S, type:patch
