Repository PyBotDevs/isobot, pull requests merged in 2023-07, with the labels that each got.

#304 Improve exception tracing in cog commands
  main.py
Labels: enhancement, priority:high, area:main, size/M, type:code quality

#303 Add `/settings levelup_messages` to let users change their settings for notifications
  config/settings.json
  framework/isobot/settings.py
  main.py
Labels: enhancement, priority:high, area:main, size/M, type:leveling system, area:cogs

#305 Add missing `json.dump()` function trigger after editing setting value
  framework/isobot/settings.py
Labels: priority:critical, size/XS, type:patch, area:framework

#306 Improve code quality and optimize imports
  main.py
Labels: enhancement, debloat, area:main, size/L, type:code quality

#307 Switch from using raw levelling db modification to library-based modification
  cogs/economy.py
  cogs/levelling.py
  cogs/utils.py
  framework/isobot/db/levelling.py
  main.py
Labels: enhancement, priority:high, area:main, size/L, type:code quality, type:leveling system, area:framework, area:cogs

#308 Remove discrim from username display if user is using new username format
  cogs/utils.py
Labels: size/XS
