Repository PyBotDevs/isobot, pull requests merged in 2024-04, with the labels that each got.

#346 Fix issue in `/leaderboard_levels` where bot was unable to fetch user context data from API
  cogs/levelling.py
Labels: priority:high, size/XS, area:leveling, type:patch

#347 Add auto-generation of log files to client upon startup
  .gitignore
  logs/currency.log
  logs/error-log.txt
  logs/info-log.txt
  logs/startup-log.txt
  main.py
Labels: enhancement, debloat, priority:medium, area:main, type:maintenance, size/S, type:code quality

#348 Fix issue in `/automod` where server icon fails to display
  cogs/automod.py
Labels: priority:high, size/XS, type:patch, area:moderation system

#349 Add tip for new level 1 users to disable level-up messages
  main.py
Labels: enhancement, priority:high, size/XS, type:code quality, area:leveling

#350 Fix fetching of user context data from API and re-enable `/leaderboard_nw`
  cogs/economy.py
  framework/isobot/currency.py
Labels: area:currency framework, priority:high, area:main, size/M, type:patch, area:framework

#351 Add `/vote` to let users vote for isobot on Top.gg and DBL
  cogs/utils.py
Labels: enhancement, priority:medium, area:main, size/S

#353 Add `/avatar` command to let users see other user avatars
  cogs/utils.py
Labels: enhancement, priority:high, area:main, size/S, type:cogs

#354 FINALLY enable the `message_content` intent flag for the bot client
  main.py
Labels: enhancement, priority:critical, area:main, size/XS, area:leveling, type:patch, area:utils

#355 Fix an issue where isobot would not give an AFK response when a mentioned user is AFK
  main.py
Labels: priority:medium, area:main, size/XS, type:patch

#356 Completely revamp `/kill` to allow users to gain cash and rewards from it
  cogs/economy.py
  cogs/fun.py
  config/commands.json
  framework/isobot/algorithms.py
Labels: enhancement, area:currency framework, priority:high, type:libraries, area:main, size/M, area:framework, type:cogs, area:fun

#357 Add link blocker automod feature to automatically delete set blacklisted links, allow whitelisted links, or block links all together
  cogs/automod.py
  config/commands.json
  framework/isobot/db/automod.py
  main.py
Labels: enhancement, priority:high, area:main, size/L, area:framework, area:moderation system

#358 Improve general isobot code readability
  main.py
Labels: enhancement, priority:medium, area:main, size/M, type:code quality

#359 Use `json.dump()` instead of directly writing new data when generating new databases
  main.py
Labels: enhancement, priority:high, area:storage, size/XS, type:patch

#360 Add `/ping` to measure server-API latency
  cogs/utils.py
Labels: enhancement, priority:medium, size/S, area:utils

#361 Add `BOT` flag to bot users in `/whoami`
  cogs/utils.py
Labels: enhancement, priority:medium, size/XS, area:utils

#362 Add more useful bot information to `/status` command
  cogs/utils.py
  main.py
Labels: enhancement, priority:medium, size/S, area:utils

#363 Shorten some slash command names and descriptions
  cogs/automod.py
Labels: priority:high, area:main, size/S, type:patch, type:cogs

#364 Switch completely from manually-generated to automatic database generation
  .gitignore
  cogs/isocoin.py
  database/automod.json
  database/currency.json
  database/isobank/accounts.json
  database/isobank/auth.json
  database/isocard.json
  database/isotokens.json
  database/items.json
  database/levels.json
  database/presence.json
  database/user_data.json
  database/weather.json
  main.py
Labels: enhancement, priority:high, area:storage, area:main, size/M, type:code quality, type:cogs

#365 Add current bot ping value to `/status` command
  cogs/utils.py
Labels: enhancement, priority:medium, size/XS, area:utils

#366 Automatically disregard swear-filter and message checks for all NSFW channels
  main.py
Labels: enhancement, priority:medium, area:main, size/XS, area:moderation system

#367 Fix `encoding` for while loading currency database
  framework/isobot/currency.py
Labels: priority:high, area:storage, size/S, type:code quality, area:framework

#368 Add user level XP targets in `/rank` command
  cogs/levelling.py
Labels: enhancement, priority:medium, size/S, area:levelling

#372 Remove unused test client event `after_invoke`
  main.py
Labels: debloat, priority:low, area:main, size/XS, type:code quality

#371 Remove timestamp construction while firing error handler
  main.py
Labels: debloat, priority:low, area:main, size/XS, type:code quality

#370 Add search query support to help command
  main.py
Labels: enhancement, priority:medium, area:main, size/M, type:code quality

#374 Move all automod commands to a separate slash command group
  cogs/automod.py
Labels: enhancement, priority:medium, size/M, type:code quality, type:cogs, area:moderation system

#375 Move all IsoCard database functions from cog to a separate framework module
  cogs/isocard.py
  framework/isobot/db/isocard.py
Labels: enhancement, priority:medium, area:storage, size/M, area:framework, type:cogs, area:isocard

#376 Add a server warning system to let server staff warn their members for certain activity
  cogs/moderation.py
  framework/isobot/db/warnings.py
  main.py
Labels: enhancement, priority:medium, area:main, size/L, area:framework, type:cogs, area:moderation system

#377 Add `/nuke` command to let server admins completely wipe channels clean
  cogs/utils.py
  config/commands.json
Labels: enhancement, priority:medium, size/XL, area:utils

#378 Add isobot user commands for some already-existing slash commands
  cogs/economy.py
  cogs/levelling.py
  cogs/moderation.py
  cogs/utils.py
  config/settings.json
Labels: enhancement, area:currency framework, priority:medium, area:main, size/M, area:levelling, type:cogs, area:moderation system, area:utils

#379 Autogenerate `settings.json` config file when performing bot client initial setup
  .gitignore
  config/settings.json
  main.py
Labels: enhancement, priority:high, area:storage, area:main, size/S

#380 Automatically sort commands into different categories in `/help` list
  config/commands.json
  main.py
Labels: enhancement, priority:medium, area:main, size/M, type:code quality

#381 Add `/serverinfo` command to provide detailed information about a specific server
  cogs/utils.py
  config/commands.json
  main.py
Labels: enhancement, priority:medium, area:main, size/M, type:cogs, area:utils
